{
    email # lisää tähän osoite
}

n8n.kontiolahdentyottomat.fi {
    reverse_proxy n8n: #porttitähän {
        flush_interval -1
    }
}

rss.kontiolahdentyottomat.fi {
    reverse_proxy rss-bridge:80
}
